diagAR-1.pdf
diagHat-1.pdf
diagQQ-1.pdf
diagVar-1.pdf
diagYr-1.pdf
fdwd-1.pdf
fitU-1.pdf
fitcheck-1.pdf
hcrPlot-1.pdf
plot-1.pdf
plotPrd-1.pdf
prfl-1.pdf
prflLike-1.pdf
refBmsy-1.pdf
unnamed-chunk-2-1.pdf
MC-1.pdf
example2-1.png
example3-1.png
example4-1.png
example5-1.png
example7-1.png
example9-1.png
mse
plot-1.png
plot-2-1.png
oemexample2-1.png
oemexample3-1.png
oemexample4-1.png
oemexample5-1.png
oemexample7-1.png
oemexample9-1.png
oemoemlen-1.png
oemoemlen2-1.png
oemplot-1.png
