diagAR-1.pdf
diagHat-1.pdf
diagQQ-1.pdf
diagVar-1.pdf
diagYr-1.pdf
fdwd-1.pdf
fitU-1.pdf
fitcheck-1.pdf
hcrPlot-1.pdf
plot-1.pdf
plotPrd-1.pdf
prfl-1.pdf
prflLike-1.pdf
refBmsy-1.pdf
unnamed-chunk-2-1.pdf
